body {
    background-color: #041C32;
}

.rohit {
    font-family: 'Dancing Script', cursive;
    color: aliceblue;
}

.grandbtn {
    margin-top: 300px;
}

.btn-lg {
    border-radius: 20px;
}

.str1 {
    background-color: white;
    height: 10px;
    width: 10px;
    position: relative;
    border-radius: 100%;
    animation-name: snw1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}




.btn a{
    text-decoration: none;
}