body {
    background-color: #041C32;
}

.navbar{
    background-color: #041C32;
}

.rohit {
    font-family: 'Dancing Script', cursive;
    color: aliceblue;
}

.grandbtn {
    margin-top: 250px;
    width: 220px;
}

.btn-lg {
    border-radius: 20px;
}


/* ANIMATION CSS */

.str1 {
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    border-radius: 100%;
    animation-name: snw1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}
.str1 {
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 400px;
    border-radius: 100%;
    animation-name: snw1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}
.str2 {
    background-color: white;
    height: 6px;
    width: 6px;
    position: absolute;
    /* right: 700px; */
    border-radius: 100%;
    animation-name: snw2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    
}
.str3 {
    background-color: white;
    height: 8px;
    width: 8px;
    position: absolute;
    /* left: 200px; */
    border-radius: 100%;
    animation-name: snw3;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    
}
.str4 {
    background-color: white;
    height: 10px;
    width: 10px;
    position: absolute;
    /* left: 500px; */
    border-radius: 100%;
    animation-name: snw4;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
}
.str5 {
    background-color: white;
    height: 5px;
    width: 5px;
    position: absolute;
    /* left: 500px; */
    border-radius: 100%;
    animation-name: snw5;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}
.str6 {
    background-color: white;
    height: 7px;
    width: 7px;
    position: absolute;
    /* left: 500px; */
    border-radius: 100%;
    animation-name: snw6;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    
}
.str7 {
    background-color: white;
    height: 9px;
    width: 9px;
    position: absolute;
    /* left: 500px; */
    border-radius: 100%;
    animation-name: snw7;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    
}
.str8 {
    background-color: white;
    height: 6px;
    width: 6px;
    position: absolute;
    /* left: 500px; */
    border-radius: 100%;
    animation-name: snw8;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    
}
.str9 {
    background-color: white;
    height: 9px;
    width: 9px;
    position: absolute;
    /* left: 500px; */
    border-radius: 100%;
    animation-name: snw9;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
}
.str10 {
    background-color: white;
    height: 9px;
    width: 9px;
    position: absolute;
    /* left: 500px; */
    border-radius: 100%;
    animation-name: snw10;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
}

.str11 {
    background-color: white;
    height: 9px;
    width: 9px;
    position: absolute;
    /* left: 500px; */
    border-radius: 100%;
    animation-name: snw11;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    
}

.str12 {
    background-color: white;
    height: 9px;
    width: 9px;
    position: absolute;
    /* left: 500px; */
    border-radius: 100%;
    animation-name: snw12;
    animation-duration: 17s;
    animation-iteration-count: infinite;
    
}

/* KEYFRAMES */

@keyframes snw1{
    0%{
        bottom: 0px;
        right:0px
    }
    
    100%{
        bottom: 1200px;
         right:180px   
    }
}
@keyframes snw2{
    0%{
        bottom:0px;
        right:0px
    }
    
    100%{
        bottom: 1200px;
         right:190px   
    }
}
@keyframes snw3{
    0%{
        bottom: 0px;
        right:0px
    }
    
    100%{
        bottom: 1200px;
         right:200px   
    }
}
@keyframes snw4{
    0%{
        bottom: 0px;
        right:0px
    }
    
    100%{
        bottom: 1200px;
         right:140px   
    }
}
@keyframes snw5{
    0%{
        bottom: 0px;
        right:0px
    }
    
    100%{
        bottom: 1200px;
         right:130px   
    }
}
@keyframes snw6{
    0%{
        bottom: 0px;
        right:0px
    }
    
    100%{
        bottom: 1200px;
         right:120px   
    }
}
@keyframes snw7{
    0%{
        bottom: 0px;
        right:0px
    }
    
    100%{
        bottom: 1200px;
         right:150px   
    }
}
@keyframes snw8{
    0%{
        bottom: 0px;
        right:0px;
    }
    
    100%{
        bottom: 1200px;
         right:110px;   
    }
}
@keyframes snw9{
    0%{
        bottom: 0px;
        right:0px;
    }
    
    100%{
        bottom: 1200px;
         right:170px; 
    }
}
@keyframes snw10{
    0%{
        bottom: 0px;
        right:0px
    }
    
    100%{
        bottom: 1200px;
         right:120px   
    }
}
@keyframes snw11{
    0%{
        bottom: 0px;
        right:0px
    }
    
    100%{
        bottom: 1200px;
         right:190px   
    }
}
@keyframes snw12{
    0%{
        bottom: 0px;
        right:0px
    }
    
    100%{
        bottom: 1200px;
         right:150px   
    }
}

.btn a{
    text-decoration: none;
}